<h1>Admin Dashboard</h1>

<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class="panel-title">Product Count</h1>
  </div>
  <div class="panel-body">
    <%= @product_count %>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class="panel-title">Category Count</h1>
  </div>
  <div class="panel-body">
    <%= @category_count %>
  </div>
</div>